@page
@model IndexModel
@using RazorWeb.Models
@inject IIpReflection ipinfo
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ipinfo.GetIp()</h1>
    <p>This is a web app built with<a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
